[Unit]
Description=My TCP proxy service
After=network-online.target

[Service]
Type=simple
User=USER_NAME
EnvironmentFile = /etc/default/tcp_proxy
ExecStart=/usr/bin/tcp_proxy --config /etc/tcp_proxy/config.toml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
