[Unit]
Description=My TCP proxy service
After=network-online.target

[Service]
Type=simple
User=USER_NAME
ExecStart=RUST_LOG=info /usr/bin/tcp_proxy --config /etc/tcp_proxy/config.toml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
